#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

input {
    background: grey
}

#Maintravel {
    border: 1px solid #ff9900;
}

#Maintravel img {
    width: 100%;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: #ff7700;
}
.envirionment_li{
    margin-top:10px;
}
.envirionment_li h4{
    border-bottom:1px solid white;
    padding:10px;
}
.envirionment_li img{
    border-radius:25px;
    padding-bottom:15px;
}
.books{
    cursor: pointer;
    
}
.books hr{
    margin-bottom:10px;
}
.modal-content{
    margin-top:100px;
    
}
.img_modal{
    display:inline-block;
}
p_modal{
    margin:10px;
}
.modal-body{
    text-align:center;
}